
.progress{
    display: none;    
}

.seleccionable{
    cursor: pointer !important;   
    pointer-events: auto;    
}

.verdeExaudi{
    /*background-color: #cad223 !important;
    border-color: #666666 !important;*/
}

.grisExaudi{
    /*    background-color: #666666 !important;*/
}

